.notes{
    margin: auto 1rem;
    display: none;
    gap: 2rem;
}
.notes.sm {
    grid-template-columns: 1fr;
}
.notes.md {
    grid-template-columns: repeat(2, 1fr);
}
.notes.lg {
    grid-template-columns: repeat(3, 1fr);
}
.notes.xl {
    grid-template-columns: repeat(4, 1fr);
}
.note {
    position: relative;
    color: var(--text);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 2rem;
    padding: 0.7rem;
    border: 1px solid var(--border);
	border-radius: 8px;
    max-height: 200px;
    max-width: 500px;
}
.DraftEditor-root {
    height: 100% !important;
    overflow-y: scroll;
}
.note__loading {
    z-index: 10;
    padding: 5px 5px 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: fit-content;
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #888;
    font-weight: 500;
    background-color: var(--bg-primary);
}
.note__loading > div{
    width: 15px;
    height: 15px;
    border: 0.25rem solid rgba(120,120,120,0.4);
	border-top: 0.25rem solid #888;
    border-radius: 50%;
	animation: rotate 1.5s linear infinite;
}
.note:hover .note__deleteBtn{
    display: inline-flex !important;
}
.note__deleteBtn {
    display: none !important;
	z-index: 10;
    position: absolute !important;
    top: 0;
    right: 0;
    transform: translate(50%, 30%);
	width: fit-content;
	background-color: var(--bg-secondary) !important;
	border-radius: 50%;
}
.note__deleteBtn > .icon {
	width: 1.5rem;
	height: 1.5rem;
}

@media only screen and (max-width: 519px) {
    .notes.sm{
        display: grid;
    }
    .note__deleteBtn {
        transform: translate(-30%, -50%);
    }
}
@media only screen and (min-width: 520px) and (max-width: 719px) {
    .notes.md{
        display: grid;
    }
}
@media only screen and (min-width: 720px) and (max-width: 1199px) {
    .notes.lg{
        display: grid;
    }
}
@media only screen and (min-width: 1200px){
    .notes.xl{
        display: grid;
    }
}